.search-form {
  width: 20%;
}

.search-form-input {
  border-radius: 0;
  border: 2px solid  rgb(9, 24, 45);
  background-color: transparent;
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}
.form-control {
  width: 40%;
  display: flex;
  justify-content: end;
}

.search-form-input:hover,
.search-form-input:focus {
  box-shadow: none;
  border-color:  rgb(9, 24, 45);
  background-color: transparent;
  color:  rgb(9, 24, 45);
}

.search-button {
  background-color: rgb(9, 24, 45);
  border-radius: none;
  transition: background-color 0.3s ease-in-out;
}

.search-button:focus,
.search-button:hover {
  background-color:  rgb(9, 24, 45);
  box-shadow: none;
}

.search-button-icon {
  color: var(--yellow-color);
  transition: color 0.3s ease-in-out;
}

.search-button:focus > .search-button-icon,
.search-button:hover > .search-button-icon {
  color:  rgb(9, 24, 45);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  .search-form {
    width: 70%;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  .search-form {
    width: 50%;
  }
}
