:root {
  --primary-color: #0000ff;
  --secondary-color: #ca503b;
  --light-color: #f2f2f2;
  --dark-color: #0d0d0d;
  --yellow-color: #ffde00;
  --font-body: 'ARCADECLASSIC', sans-serif;
  --font-header: 'Pokemon', sans-serif;
  background-image: url(./Images/game.jpg);
}

body {
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  background-image: url(./Images/game.jpg);
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
  body {
    font-size: 18px;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
  body {
    font-size: 20px;
  }
}

@font-face {
  font-family: "Pokemon";   /*Can be any text*/
  src: local("Pokemon"),
    url("./Fonts/PokemonSolid.ttf") format("truetype");
}

@font-face {
  font-family: "ARCADECLASSIC";   /*Can be any text*/
  src: local("ARCADECLASSIC"),
    url("./Fonts/ARCADECLASSIC.TTF") format("truetype");
}